body {
    background: #fafafa;
    font-family: sans;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background: white;
    border-bottom: 1px solid #dbdbdb;
    padding: 8px;
}

input[type=text] {
    border: 1px solid #dbdbdb;
    padding: 8px;
    width: 300px;
}

input[type=submit] {
    background: #0096f7;
    color: white;
    border: 0;
    border-radius: 3px;
    width: 300px;
    padding: 8px;
}

#file { display: none; }

#preview { max-width: 300px; }

.post img { max-width: 600px; }

.post {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-bottom: 24px;
}
.post p { padding: 16px; }
